@model StoreCalls.Models.Registration

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Registration of call</h2>
@using (Html.BeginForm("Index", "Call"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Address1)
                @Html.TextBoxFor(m => m.Address1)
            </li>
            <li>
                @Html.LabelFor(m => m.Address2)
                @Html.TextBoxFor(m => m.Address2)
            </li>
            <li>
                @Html.LabelFor(m => m.PostCode)
                @Html.TextBoxFor(m => m.PostCode)
            </li>
            <li>
                @Html.LabelFor(m => m.Program)
                @Html.DropDownListFor(m => m.Program, (SelectList)ViewBag.ProgramList)
            </li>
            <li>
                @Html.LabelFor(m => m.Categories)
                @Html.DropDownListFor(m => m.Categories, (SelectList)ViewBag.CategoriesList)
            </li>
            <li>
                @Html.LabelFor(m => m.Comments)
                @Html.TextAreaFor(m => m.Comments)
            </li>
            <li>
                @Html.LabelFor(m => m.Positive)
                @Html.RadioButtonFor(m => m.Positive, true) Positive
                @Html.RadioButtonFor(m => m.Positive, false) Negative
            </li>
        </ol>
        <input class="register-call" type="submit" value="Register" />
    </fieldset>
    
    <div id="formS">

    </div>
    <br /><br /><br />
    <div id="formS2">
        
    </div>
}
